
@font-face{
    font-family: ProximaBold;
    src: url(./../fonts/Proxima-Nova-Bold.otf)
}
@font-face{
    font-family: ProximaExtra;
    src: url(./../fonts/Proxima-Nova-Alt-Extrabold.otf)
}
@font-face{
    font-family: ProximaRegular;
    src: url(./../fonts/Proxima-Nova-Regular.otf)
}